<h1>offer charities</h1>

<table>
  <thead>
    <tr>
      <th>Name</th>
      <th>Bio</th>
      <th>Webpage</th>
      <th>Contact name</th>
      <th>Contact email</th>
      <th>Contact phone</th>
      <th></th>
      <th></th>
      <th></th>
    </tr>
  </thead>

  <tbody>
    <% @charities.each do |charity| %>
      <tr>
        <td><%= charity.name %></td>
        <td><%= charity.bio %></td>
        <td><%= charity.webpage %></td>
        <td><%= charity.contact_name %></td>
        <td><%= charity.contact_email %></td>
        <td><%= charity.contact_phone %></td>
        <td><%= link_to 'Show', charity %></td>
        <td><%= link_to 'Edit', edit_charity_path(charity) %></td>
        <td><%= link_to 'Destroy', charity, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Charity', new_charity_path %>
