<h1><%= @charity.name %></h1>

<p>
  <strong>Name:</strong>
  <%= @charity.name %>
</p>

<p>
  <strong>Bio:</strong>
  <%= @charity.bio %>
</p>

<p>
  <strong>Webpage:</strong>
  <%= @charity.webpage %>
</p>

<p>
  <strong>Contact name:</strong>
  <%= @charity.contact_name %>
</p>

<p>
  <strong>Contact phone:</strong>
  <%= @charity.contact_phone %>
</p>

<p>
  <strong>Contact email:</strong>
  <%= @charity.contact_email %>
</p>

<h2>Offers Accepted</h2>
<%= render 'offers/offer_cards', offers: @offers %>

<h2>Endorsements</h2>
<% @charity.endorsements.each do |endorsement| %>
  <p>Stars: <%= endorsement.stars %></p>

<%= form_for [ endorsement], url: '#' do |f| %>

  <span class="review__rating star-rating--read-only">
    <%= f.radio_button :stars, '1', disabled: true %><i></i>
    <%= f.radio_button :stars, '2', disabled: true %><i></i>
    <%= f.radio_button :stars, '3', disabled: true %><i></i>
    <%= f.radio_button :stars, '4', disabled: true %><i></i>
    <%= f.radio_button :stars, '5', disabled: true %><i></i>
  </span>
<% end %>

  <p>Comment: <%= endorsement.comment %></p>
  <p>Retailer: <%= endorsement.retailer.name %></p>
  <hr>
<% end %>