<h1><%= @charity.name %></h1>

<p>
  <strong>Name:</strong>
  <%= @charity.name %>
</p>

<p>
  <strong>Bio:</strong>
  <%= @charity.bio %>
</p>

<p>
  <strong>Webpage:</strong>
  <%= @charity.webpage %>
</p>

<p>
  <strong>Contact name:</strong>
  <%= @charity.contact_name %>
</p>

<p>
  <strong>Contact phone:</strong>
  <%= @charity.contact_phone %>
</p>

<p>
  <strong>Contact email:</strong>
  <%= @charity.contact_email %>
</p>

<h2>Offers Accepted</h2>
<%= render 'offers/offer_cards', offers: @offers %>
