<%= form_for(@offer) do |f| %>
  <% if @offer.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@offer.errors.count, "error") %> prohibited this offer from being saved:</h2>

      <ul>
      <% @offer.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :title %><br>
    <%= f.text_field :title %>
  </div>
  <div class="field">
    <%= f.label :description %><br>
    <%= f.text_field :description %>
  </div>
  <div class="field">
    <%= f.label :retailer_id %><br>
    <%= f.collection_select :retailer, @retailers, :id, :name %>
  </div>
  <div class="field">
    <%= f.label :location %><br>
    <%= f.text_field :location %>
  </div>


    <%= image_tag(@offer.cover_image_url) if @offer.cover_image? %>
    <%= f.file_field :cover_image %>
    <%= f.hidden_field :cover_image_cache %>

  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>