<div class="bricks effect-4" data-bricks="true" id="offer-bricks">
  <% offers.each do |offer| %>
    <a href="<%= offer_path(offer) %>" class="brick__item offer-card">
      <%= image_tag(offer.cover_image_url, class: 'offer-card__image') if offer.cover_image? %>
      <div class="offer-card__content">
         <h4 class="offer-card__title"><%= offer.title %></h4>
         <div><%= offer.description %></div>
         
        <% if offer.category %>
          <div class="offer-card__category"><%= offer.category.name %></div>
        <% end %>

        <div class="offer-card__retailer"><%= offer.retailer.name if offer.retailer %></div>
      </div>
    </a>
  <% end %>
</div>
