<p id="notice"><%= notice %></p>

<p>
  <strong>Title:</strong>
  <%= @offer.title %>
</p>

<p>
  <strong>Description:</strong>
  <%= @offer.description %>
</p>

<p>
  <strong>Retailer:</strong>
  <%= @offer.retailer.name %>
</p>

<p>
  <strong>Location:</strong>
  <%= @offer.location %>
</p>

<p>
  <strong>Category:</strong>
  <%= @offer.category.name  unless @offer.category.nil?%>
</p>

<%= image_tag(@offer.cover_image_url, class: 'offer-card__image') if @offer.cover_image? %>

<%= link_to 'Accept Offer', offer_accept_path(@offer) if @can_accept%>
