<p id="notice"><%= notice %></p>

<p>
  <strong>Title:</strong>
  <%= @offer.title %>
</p>

<p>
  <strong>Description:</strong>
  <%= @offer.description %>
</p>

<p>
  <strong>Retailer:</strong>
  <%= @offer.retailer %>
</p>

<p>
  <strong>Location:</strong>
  <%= @offer.location %>
</p>

<%= link_to 'Accept Offer', offer_accept_path(@offer) if @can_accept%>