<div class="row">
  <div class="col-md-7">
    <h1><%= @offer.title %></h1>
    <p class="offer__retailer-name"><%= @offer.retailer.name %></p>
    <div>
      <%= simple_format @offer.description %>
    </div>

    <p>
      <strong>Location:</strong>
      <%= @offer.location %>
    </p>
      
      <p>
        <strong>Offer ends:</strong>
        <span data-date><%= @offer.offer_ends %></span>
      </p>
      
      <p>
        <strong>Delivery options:</strong>
        <%= @offer.delivery_options %>
      </p>  

    <% unless @offer.category.nil? %>
      <p class="offer__category">
        <%= @offer.category.name %>
      </p>
    <% end %>

    <% if @offer.charity %>
      <p>
        <strong>Charity:</strong>
        <%= @offer.charity.name %>
      </p>
     <% end %>
  </div>

  <div class="col-md-5">
    <%= image_tag(@offer.retailer.logo_url) if @offer.retailer.logo? %>
    <%= image_tag(@offer.cover_image_url, class: 'offer-card__image') if @offer.cover_image? %>
  </div>
</div>



<%= link_to 'Accept Offer', offer_accept_path(@offer), class: "btn btn-success" if @can_accept%>
<%= link_to 'Edit Offer', edit_offer_path(@offer) if @can_edit%>
<%= link_to 'Remove offer', offer_unaccept_path(@offer), class: "btn btn-warning" if @can_edit && @offer.charity %>


<% if @can_endorse %>
  <%= form_for(@endorsement) do |f| %>
    <%= f.hidden_field :retailer_id, value: @offer.retailer.id %>
    <%= f.hidden_field :charity_id, value: @offer.charity.id %>
    <div class="field">
      <%= f.label :stars %><br>
      <%= f.text_field :stars %>
    </div>
    <div class="field">
      <%= f.label :comment %><br>
      <%= f.text_field :comment %>
    </div>
    <div class="actions">
      <%= f.submit %>
    </div>
  <% end %>
<% end %>