<!DOCTYPE html>
<html>
<head>
  <title>WasteNot</title>
  <%= stylesheet_link_tag    "application", media: "all" %>
  <%= javascript_include_tag "application" %>
  <%= csrf_meta_tags %>
</head>
<body>

<div class="container brand__area">
  <a href="<%= root_path %>">
    <%= image_tag 'wastenot_logo.png', class: 'brand__logo' %>
  </a>
</div>  
 <nav class="navbar navbar-default" role="navigation">
  <div class="container">
    <!-- Brand and toggle get grouped for better mobile display -->
    <div class="navbar-header">
      <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
        <span class="sr-only">Toggle navigation</span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
    </div>

    

    <!-- Collect the nav links, forms, and other content for toggling -->
    <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">

      <% if can_create_offer %>
      <form class="navbar-form navbar-left" role="search">
        <%= link_to 'Create offer', new_offer_path, class: 'btn btn-success' %>
      </form>
      <% end %>

      <ul class="nav navbar-nav">
        <li><%= link_to 'About', pages_about_path %></li>
      </ul>

      <ul class="nav navbar-nav navbar-right">
        <li class="dropdown">
          <a href="#" class="dropdown-toggle" data-toggle="dropdown">
            <%= org.nil? ? "Organisations" : org.name%>
          <b class="caret"></b></a>
          <ul class="dropdown-menu">
            <li><a href="/charities"><b>Charities</b></a></li>
            <% @charities.each do |charity| %>
                <li><a href="/set_charity/<%= charity.id %>"><%= charity.name %></a></li>
            <% end %>
            <li class="divider"></li>
            <li><a href="/retailers"><b>Retailers</b></a></li>
            <% @retailers.each do |retailer| %>
                <li><a href="/set_retailer/<%= retailer.id %>"><%= retailer.name %></a></li>
            <% end %>
            <li class="divider"></li>
            <li><a href="/unset_org">Logout</a></li>
          </ul>
        </li>
      </ul>

    </div><!-- /.navbar-collapse -->
  </div><!-- /.container-fluid -->
</nav> 
<div class="container">
  <%= yield %>
</div>

</body>
</html>
